<footer class="footerContainer">
    <div class="topFooter row">
        <div class="col-6 col-lg-3">
            <div class="is-diliver"></div>
            <ul class="p-0">
                <li>
                    <a asp-action="index" asp-controller="AboutUs" class="text-14 text-capitalize">@_language.Getkey("aboutUs")</a>
                </li>
                <li>
                    <a asp-action="index" asp-controller="Contact" class="text-14 text-capitalize">@_language.Getkey("contact")</a>
                </li>
                <li>
                    <a href="#" class="text-14 text-capitalize">@_language.Getkey("exchange&return")</a>
                </li>
                <li>
                    <a href="#" class="text-14 text-capitalize">@_language.Getkey("terms")</a>
                </li>
                <li>
                    <a href="#" class="text-14 text-capitalize">@_language.Getkey("privacyPolicy")</a>
                </li>
                <li>
                    <a href="#" class="text-14 text-capitalize">@_language.Getkey("paymentPolicy")</a>
                </li>
            </ul>
        </div>
        <div class="col-6 col-lg-3">
            <div class="is-diliver"></div>
            <ul class="p-0">
                <li>
                    <a href="#" class="text-14 text-capitalize">@_language.Getkey("account")</a>
                </li>                          
                <li>                           
                    <a href="#" class="text-14 text-capitalize">@_language.Getkey("favourite")</a>
                </li>                          
                <li>                           
                    <a href="#" class="text-14 text-capitalize">@_language.Getkey("shipping")</a>
                </li>                          
                <li>                           
                    <a href="#" class="text-14 text-capitalize">@_language.Getkey("cart")</a>
                </li>                          
                <li>                           
                    <a href="#" class="text-14 text-capitalize">@_language.Getkey("orderTracking")</a>
                </li>
            </ul>
        </div>
        <div class="col-6 col-lg-3">
            <div class="is-diliver"></div>
            <img src="~/assets/images/Screenshot 2023-11-05 131859.png" alt="..." style="width:220px" />
        </div>
        <div class="col-6 col-lg-3">
            <img src="~/assets/images/27be61a780e77d628043bf063332eecb.png" alt="..."/>
            <b class="text-color-white text-14">Lipstick.vn</b>
            <p class="text-color-white text-14">CÔNG TY CỔ PHẦN THƯƠNG MẠI VÀ DỊCH VỤ LOTTESHOP VIỆT NAM</p>
            <p class="text-color-white text-14">LIPSTICK Hà Nội: Số 212 Bà Triệu, P.Lê Đại Hành, Q.Hai Bà Trưng, Hà Nội.</p>
            <p class="text-color-white text-14">Điện thoại: 0968.588.886</p>
            <p class="text-color-white text-14">LIPSTICK TP.HCM: Số 179 Huỳnh Văn Bánh, Phường 11, Quận Phú Nhuận, TP.Hồ Chí Minh.</p>
            <p class="text-color-white text-14">Điện thoại: 0968.588.886</p>
        </div>
    </div>
    <div class="bottomFooter row">
        <div class="col-6 d-flex flex-column">
            <img style="width:90px;" src="~/assets/images/DMCA_logo-std-btn120w.png" alt="..." />
            <span class="text-color-white">
                <b>© 2014 LOTTESHOP.</b>
                All Rights Reserved.
            </span>
        </div>
        <div class="col-6">
            <img style="width:120px" src="~/assets/images/dathongbao-300x114.png" alt="..."/>
            <p class="text-color-white text-14">MST 0106800912 được cấp ngày 24/03/2015 do sở KH và ĐT TP Hà Nội</p>
        </div>
    </div>
</footer>