@model IEnumerable<SharedLibrary.UserInterfaceDTO.ArticleUI>

@{
    ViewData["Title"] = "Index";
}

<div class="container pt-2">
    <h2 class="text-capitalize">@_language.Getkey("articleList")</h2>
    <div class="d-flex justify-content-end">
        <a asp-action="Create" class="btn btn-success text-capitalize">@_language.Getkey("create")</a>
    </div>
    @if (Model != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th class="text-capitalize">
                        @* @Html.DisplayNameFor(model => model.NameEN) *@
                        @_language.Getkey("nameEN")
                    </th>
                    <th class="text-capitalize">
                        @* @Html.DisplayNameFor(model => model.NameVN) *@
                        @_language.Getkey("nameVN")

                    </th>
                    <th class="text-capitalize">
                        @* @Html.DisplayNameFor(model => model.IsActive) *@
                        @_language.Getkey("isActive")
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.ID">
                        <td>
                            @Html.DisplayFor(modelItem => item.SubjectEN)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubjectVN)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>
                        <td class="d-flex justify-content-end">
                            <a asp-action="Update" asp-route-ID="@item.ID" class="btn btn-primary me-2 text-capitalize">@_language.Getkey("details")</a>
                            <button onclick="CheckPermissionToDelete('@item.ID')" class="btn btn-danger text-capitalize">@_language.Getkey("delete")</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
