@model SharedLibrary.UserInterfaceDTO.BrandUI

@{
    ViewData["Title"] = "Update";
}

<div class="container pt-2">
    <h3 class="text-capitalize">@_language.Getkey("brandInformation")</h3>
    <hr />
    <form asp-action="Update" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group form-check mb-2">
            <label class="form-check-label text-capitalize">
                <input class="form-check-input" asp-for="IsActive" /> @_language.Getkey("isActive")
            </label>
        </div>
        <div class="row mb-2">
            <div class="form-group col-6">
                <label asp-for="NameEN" class="control-label text-capitalize">@_language.Getkey("nameEN"):</label>
                <input asp-for="NameEN" class="form-control" autocomplete="off" />
                <span asp-validation-for="NameEN" class="text-danger"></span>
            </div>
            <div class="form-group col-6">
                <label asp-for="NameVN" class="control-label text-capitalize">@_language.Getkey("nameVN"):</label>
                <input asp-for="NameVN" class="form-control" autocomplete="off" />
                <span asp-validation-for="NameVN" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-2">
            <div class="form-group col-6">
                <label asp-for="DescriptionEN" class="control-label text-capitalize">@_language.Getkey("descriptionEN"):</label>
                <textarea asp-for="DescriptionEN" class="form-control" rows="4"></textarea>
                <span asp-validation-for="DescriptionEN" class="text-danger"></span>
            </div>
            <div class="form-group col-6">
                <label asp-for="DescriptionVN" class="control-label text-capitalize">@_language.Getkey("descriptionVN"):</label>
                <textarea asp-for="DescriptionVN" class="form-control" rows="4"></textarea>
                <span asp-validation-for="DescriptionVN" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-2">
            <span asp-validation-for="UploadImage" class="text-danger"></span>
            <br />
            <label asp-for="UploadImage" class="control-label text-capitalize">@_language.Getkey("uploadImage"):</label>
            <input asp-for="UploadImage" class="form-control" />
        </div>
        <div class="form-group d-flex justify-content-end">
            <input type="submit" value="@_language.Getkey("create")" class="btn btn-success me-2 text-capitalize" />
            <a asp-action="Index" class="btn btn-primary text-capitalize">@_language.Getkey("backToList")</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
